/* ContactPage.css */
.contact-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f8f9fa;
  }
  
  span{
    font-size: small;
  }
  .contact-info,
  .contact-form {
    flex-basis: 45%;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Light background */
  }
  
  .contact-info h2,
  .contact-form h2 {
    color: #001f3f; /* Navy color for headings */
  }
  
  p {
    color: #333333; /* Dark text for paragraphs */
  }
  
  .info-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }

  .info-item p{
    margin-top: 20px;
  }
  
  .info-item span {
    font-weight: bold;
    margin-right: 10px;
    color: #333333; /* Dark text */
  }
  
  a {
    color: #001f3f; /* Navy color for links */
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  h2,
  label {
    color: #001f3f; /* Navy color for headings and labels */
    margin-bottom: 10px; /* Adjusted margin */
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px; /* Adjusted margin */
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff; /* White background */
    color: #001f3f; /* Navy text */
  }
  
  button {
    background-color: #001f3f; /* Navy color for buttons */
    color: #ffffff; /* White text */
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #00152b; /* Darker navy on hover */
  }
  
  .btn-submit{

  }

 
/* CSS */
.button-65{
  margin-top: 1rem;
  width: 200px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}