.display-bike{
  margin: 1rem 0 ;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Report.js Css */
.chart-box {
width: 40vw;
height: auto; /* Allow the height to adjust dynamically based on content */
margin: 1rem; /* Adjust margin to provide spacing */
border-radius: 10px;
padding: 1rem;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chart-main {
display: flex;
flex-direction: row; /* Ensure charts are displayed in a row */
justify-content: space-between; /* Distribute charts evenly */
margin-top: 1rem; /* Add some margin to the top */
}


/* AddSales.css */

/* Container */
.containerBike {
  display: flex;
}

/* SideNav */
.sidenav {
  flex: 0 0 20%;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Form */
.form-container {
  max-width: 500px;
  margin: auto;
}

/* Form Title */
.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #135078;
}

/* Form Fields */
.form-group {
  margin-bottom: 20px;
}

/* Form Label */
.form-label {
  font-weight: bold;
}

/* Form Input */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Submit Button */
.submit-button {
  padding: 10px 20px;
  background-color: #135078;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Submit Button Hover Effect */
.submit-button:hover {
  background-color: #0d3a57;
}


/* Common */
.dropdown-container {
  display: flex;
  gap: 20px;
}

.dropdown {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  outline: none;
}

.select:hover {
  border-color: #999;
}

.select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
